@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.hero,
.information,
.quote,
.call-to-action {
    padding: 10%;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0 0 0 auto;
    padding: 0;
}

.hero,
footer {
    color: white;
    background-color: #1F2937;
}

header {
    display: flex;
}

.quote {
    background-color: #E5E7EB;
}

.call-to-action {
    color: white;
}

footer {
    padding: 2.5% 10%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}