@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Roboto, sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0 0 0 auto;
    padding: 0;
}

.hero {
    color: white;
    background-color: #1F2937;
}

header {
    display: flex;

}

.quote {
    background-color: #E5E7EB;
}

.call-to-action {
    color: white;
}

footer {
    color: white;
    background-color: #1F2937;
}